[Desktop Entry]
Version=0.1
Name=tomatime
Comment=A Pomodoro App for Linux Platform
Exec=tomatime %u
Icon=tomatime
Terminal=false
Type=Application
Categories=Utility;
